/* Mission Section */
.missionSection {
  padding: 60px 20px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  max-width: 1200px;
  width: 100%;
}

/* Text Content */
.textContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subheading {
  font-family: "Fira Sans", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #2d422d; /* Dark Green */
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.heading {
  font-family: "Fira Sans", sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  color: #2d422d; /* Dark Green */
  margin-top: 0;
  margin-bottom: 20px;
}

.highlight {
  color: #ffce00; /* Yellow Highlight */
}

.description {
  font-family: "Fira Sans", sans-serif;
  font-size: 1rem;
  color: #2d422d; /* Dark Green */
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: bold;
}

.blockquote {
  font-family: "Fira Sans", sans-serif;
  font-size: 1rem;
  color: #2d422d; /* Dark Green */
  border-left: 3px solid #2d422d;
  padding-left: 10px;
  margin-left: 0;
  margin-bottom: 30px;
  line-height: 25px;
  font-weight: 300;
}

/* Button */
.button {
  font-family: "Fira Sans", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  background-color: #ffce00; /* Yellow */
  color: #2d422d; /* Dark Green */
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all 0.3s ease-in-out;
  max-width: 190px;
  text-decoration: none;
}

.button:hover {
  background-color: #ffe34d; /* Lighter Yellow */
}

.arrow {
  font-size: 1rem;
  transition: transform 0.3s ease-in-out;
}

.button:hover .arrow {
  transform: translateX(5px);
}

/* Image Content */
.imageContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .content {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .textContent {
    order: 2; /* Move text content below image */
  }

  .imageContent {
    order: 1; /* Move image content above text */
  }

  .subheading {
    justify-content: center;
  }

  .heading {
    font-size: 2rem;
  }

  .description {
    font-size: 0.9rem;
  }

  .blockquote {
    margin-right: 0;
  }

  .button {
    margin: 0 auto;
  }
}
